body {
    background-color: #100f0f;
    color: white;
    font-family: 'Roboto', 'sans-serif';
}

header {
    
    margin-bottom: 20px;
    padding: 0px;
    min-height: 40px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0px;
}

a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #100f0f;
    min-height: 40px;
    text-align: center;
}

header, li {
    border-bottom: 1px solid rgba(239, 239, 239, 0.2);
}

.row_gain {
    text-align: center;
    min-height: 70px;
    font-size: 1.5em;
    background-color: #1e1900;
    margin-bottom: 10px;
}

.main_gain {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.main_logo {
    font-family: 'Fredoka One', cursive;
}

.input-group-text, .form-control {
    min-width: 40px;
    background-color: #100f0f;
    color: white;
    border: 1px solid rgba(239, 239, 239, 0.2);
    border-radius: 2px;
}


.gains {
    padding: 0px;
    margin: 0px;
}


.submit_button {
    background-color: gray;
    color: black;
}

.money_symbol {
    font-weight: bold;
}