{% extends 'base.html' %}

{% block content %}
<header class="row">
    <div class="col-8 my-auto main_logo">
        <p>Crypto Tracker</p>
    </div>
    <div class="col-2 my-auto">
        <a href="edit">🖉</a>
    </div>
    <div class="col-2 my-auto">
        <a href="add">+</a>
    </div>
</header>
<div class="row justify-content-center row_gain">
    <a class="main_gain" href="gains">{{gain}}</a>
    <!-- <div class="col-8 main_gain">
        <div class="row-12">
            <a href="gains">Gain: {{gain}} €</a>
        </div>
    </div> -->
</div>
<div class="row justify-content-center">
    <div class="col-10 table-container">
        <table class="crypto-index-table">
            {% for money in moneys %}
            <tr>
                <td>
                    {% if 'icon' in money %}
                    <img src="{{url_for('static', filename=money['icon'])}}" />
                    {% endif %}
                </td>
                <td>
                    <span style="font-weight:bold">{{ money['symbol'] }}</span>
                </td>
                <td>({{ money['name'] }})</td>
                <td>{{ money['evol_sym'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}