{% extends 'base.html' %}

{% block content %}
    <header>
        <p>Crypto Tracker</p>
        <a href="edit">🖉</a>
        <a href="add">+</a>
    </header>
    <section>
        <a href="gains">Gain: {{gain}} €</a>
        <ul>
            {% for money in moneys %}
            <li>
                {% if 'icon' in money %}
                <img src="{{url_for('static', filename=money['icon'])}}"/>
                {% endif %}
                {{ money['full_name'] }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}