{% extends 'base.html' %}

{% block content %}
<header class="row">
    <div class="col-8 my-auto main_logo">
        <p>Crypto Tracker</p>
    </div>
    <div class="col-2 my-auto">
        <a href="edit">🖉</a>
    </div>
    <div class="col-2 my-auto">
        <a href="add">+</a>
    </div>
</header>
<div class="row justify-content-center row_gain">
    <a class="main_gain" href="gains">{{gain}}</a>
    <!-- <div class="col-8 main_gain">
        <div class="row-12">
            <a href="gains">Gain: {{gain}} €</a>
        </div>
    </div> -->
</div>
<div class="row justify-content-center">
    <div class="col-10 pr-4">
        <ul class="list-group">
            {% for money in moneys %}
            <li>
                <div class="row">
                    <div class="col-2 my-auto">
                        {% if 'icon' in money %}
                        <img src="{{url_for('static', filename=money['icon'])}}" />
                        {% else %}
                        <p style="min-width: 32px;"></p>
                        {% endif %}
                    </div>
                    <div class="col-2 my-auto money_symbol">
                        <span style="font-weight:bold">{{ money['symbol'] }}</span>
                    </div>
                    <div class="col-6 my-auto">
                        <span style="text-align: left;"> ({{ money['name'] }})</p>
                    </div>
                    <div class="col-2 my-auto">
                        <span>{{ money['evol_sym'] }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}